@media only screen and (min-width: 60em) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
  }
  main section:nth-child(3) {
    grid-column: span 1;
  
  }
  main section picture img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border: 1px solid #bbb;
  }

main section:nth-child(3) {
    
    text-align: match-parent;}

  main section {
    text-align: match-parent;
    box-shadow: 0 4px 8px 0 grey;
  }

}

footer {
  font-size: 1rem;
}