@media only screen and (min-width: 37.5em) {
  header img {
    display: none;
  }
 

  .cards {
    display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
  background-color: #dda15e;
  
  }
  .cards h3{
    font-family: "Titillium Web", sans-serif;
    letter-spacing: 2px;
    font-size:1.5em;
    
  }
  
  .cards p{
    font-family: "Titillium Web", sans-serif;
    letter-spacing: 2px;
    font-size:1em;
  }
  
  .cards section {
    background-color: none;
    border-radius: 20px;
    margin-left:3px;
  }
  
  .cards img {
    width: 80px;
    height: auto;
    background-color: #dda15e;
  }















}
