body {
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 1.25em;
   
}

h1 {
   
    
    text-align: center;
}

h2 {
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    text-align: center;
    
    
}

section {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 100%;
  border-style: solid;
  border-color: #606c38;
  border-radius: 15px;
  background-color: #fefae0;
  
}




section img {
    width: 75%;
    height: auto;
}

.highlight {
    color: #bc6c25;
}

footer{
    text-align: center;
}

@media (min-width: 767px) and (max-width: 1280px) {

.cards {    display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 15px;
  padding: 10px;
}


}

@media (min-width: 481px) and (max-width: 767px) {

    .cards {    display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 15px;
      padding: 10px;
    }
    
    
    }