

:root {
	--back:  #7fb9c2;
  	--back2: #628ca6;
	--border: hsl(0,0%,20%);
	--borderlight: hsl(0,0%,33%);
	--shadow: #e7f0ed;
	--zebra: #e7ffed;
}

table {
	margin: 10px auto;
	border: thin solid var(--border);
	box-shadow: 0 0 30px var(--shadow);
	border-collapse: collapse;
	font-family: Ubuntu, sans-serif;
	box-shadow: 10px 5px 5px var(--back2);
}


tr:nth-child(4) td:nth-child(3) {
	background-color: var(--back2);
	color: white;
}

tr:nth-child(5) td:nth-child(1) {
	font-style: italic;
}



tr:first-child th {
	background-color: var(--back);
	color: black;
	
}

tr:nth-child(2) th{
	color: white;
	font-weight: bolder;
}

th, td {
	padding: 7px 15px;
	border: 1px solid grey;
	font-size: 1em;
}

th {
	background-color: var(--back2);
	font-weight: bolder;
}

tfoot {
	background-color: var(--back);
}

td {
	text-align: center;
}

tbody tr:nth-child(odd) {
	background-color: var(--shadow);
}

tbody tr:nth-child(even) {
	background-color: var(--zebra);
}

