header,
main {
  margin: 1em;
}

header {
  padding: 10px;
  text-align: center;
}

header img {
  width: 65px;
  height: auto;
  margin: 10px;
}

nav a:hover {
  background-color: #dda15e;
  color: #283618;

  --d: 75%;
}
.active {
  color: #dda15e;
}

.headings {
  display: flex;
  flex-direction: column;
}

.headings h1 {
  font-size: 2.25rem;
  color: #283618;
  font-family: "Bebas Neue", cursive;
  margin: 0 0 0 0px;
  letter-spacing: 1px;
}

.motto {
  font-family: "Titillium Web", sans-serif;
  color: #1a1c20;

  font-size: 1rem;
}

.navigation {
  background-color: #283618;
  text-align: center;
  box-shadow: 0 2px 15px gray;
  list-style: none;
  padding: 0;
}
.navigation li:first-child {
  display: block;
}
.navigation li {
  display: none;
}
.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: right;
  text-decoration: none;
  color: #fefae0;
  font-size: 2.75rem;
  transition: 0.5s;
  font-family: "Bebas Neue", cursive;
}
.navigation a:hover {
  background-color: #dda15e;
  color: #283618;
}






.responsive li {
  display: block;
}

.pagetitle {
  font-size: 2.75rem;
  font-family: "Bebas Neue", cursive;
  text-align: center;
  color: #283618;
}

main section h1 {
  font-size: 2rem;
  letter-spacing: 1px;
  font-family: "Titillium Web", sans-serif;
  background-color: #dda15e;
}

.weatherimg {
  width: 100%;
}

table,
th,
td {
  padding: 0.5em;
  font-size: 1em;
  font-family: "Titillium Web", sans-serif;
  width: 100%;
}

main h1 {
  font-family: "Bebas Neue", cursive;
  text-align: center;
  font-size: 3em;
}

.sumlarge h2 {
  font-size: 1.5em;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
}

.sumlarge {
  font-size: 1.5em;
  border: 1px solid black;
  border-radius: 15px;
  color: #283618;
  display: block;
  margin-bottom: 1em;
}
