header,
main,
footer {
  max-width: 769px;
  margin: 0 auto;
}

header {
  padding: 10px;
  text-align: center;
}
header img {
  width: 100px;
  height: auto;
  float: left;
}

header h1 {
  font-size: 5rem;
  color: #283618;
  font-family: "Bebas Neue", cursive;
}

main {
  font-size: 1.25rem;
}

main h1 {
  font-size: 1.75rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

main img {
  width: 700px;
  height: auto;
}

nav {
  background-color: #283618;
  text-align: center;

}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav ul li a {
  float: left;
  color: #fefae0;
  font-family: "Bebas Neue", cursive;
  text-decoration: none;
  font-size: 2rem;
  width: 25%;
  text-align: center; 
}


footer {
  background-color: #283618;
  padding: 1rem .5rem;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fefae0;
  font-size: 1rem;
}

footer a:link {
  color: #dda15e;
  background-color: transparent;
  text-decoration: none;
}

footer a:visited {
  color: #EEEFEE;
  background-color: transparent;
  text-decoration: none;
}
footer a:hover {
color: #dda15e;
background-color: transparent;
text-decoration: underline;
}



